.brand{
    color:rgb(197, 22, 130);
    font-family: 'Courgette', cursive;
    font-size: 25px;
    border-radius: 15px;
    background-position: 8%;

}
.brand a{
    text-decoration: none;
    color:darkgreen;
}
.faq-bg{
    position: relative;
}
.faq-bg img{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
    

}
.faq-bg .text{
    position: absolute;
    top:0;
}
.bg-text{
    color: aqua;
    position: relative;
 
}
details[open].FAQs{
    background: rgba(0, 255, 0, .2);
    transition: all 0.4s ease-in-out;
    
}
.copy{
    color:blue;
}
@media(max-width:570px){
    .faq-bg{
        height: 500px;
    }
    .text{
        width: 100%;
    }
    .bg-text{
        position:relative;
       top:400px;
        left: 0;
    }
    .hero{
        margin:20px;
        padding-top: 10px;
    }
    .btn.mx-3{
        display: none;
    }
}